.navbar-gap {
    width: 100%;
    height: calc(var(--navbar) + 80px);
}

// PC ( width < 700 )
.navbar {
    display: none;
    width: 100%;
    height: var(--navbar);
    background-color: var(--black);
    box-shadow: 10px 10px 10px var(--black), -10px 10px 10px var(--black);
    color: var(--gold);
    position: fixed;
    padding: 5px;
    align-items: center;
    justify-content: space-around;

    .nav-item {
        display: flex;
        gap: 15px;
    }

    a {
        color: var(--gold);
        font-size: var(--nav);
    }

    @include md {
        display: flex;
    }
}

// MOBILE ( width > 700 )

.navbar-mobile {
    z-index: 20;
    display: flex;
    width: 100%;
    height: var(--navbar);
    background-color: var(--black);
    box-shadow: 10px 10px 10px var(--black), -10px 10px 10px var(--black);
    color: var(--gold);
    position: fixed;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        width: 80%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    @include md {
        display: none;
    }
}

.nav-item-mobile {
    z-index: 5;
    width: 100%;
    height: 250px;
    position: fixed;
    top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    box-shadow: 10px 10px 10px var(--black), -10px 10px 10px var(--black);
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 80%;
        height: 100%;
        gap: 15px;
    }

    a {
        color: var(--gold);
        font-size: var(--nav);
    }

    @include md {
        display: none;
    }
}
