@import 'normalize.scss';
@import 'variable.scss';
@import 'responsive.scss';

@import 'navbar.scss';
@import 'menu-icon.scss';
@import 'index.scss';
@import 'artistes.scss';
@import 'contact.scss';
@import 'logo.scss';

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-1);
    background-size: 110px 110px;
    background-position: 0px 0px,55px 55px;
    background-image: radial-gradient(
            50% 50% at 50% 50%, transparent 0%, transparent 75%,
            var(--bg-1) 76%, var(--bg-1) 85%, var(--bg-2) 86%, var(--bg-2) 94%, var(--bg-4) 95%,
            var(--bg-4) 103%, var(--bg-2) 104%, var(--bg-2) 112%, var(--bg-3) 113%, var(--bg-3) 121%,
            var(--bg-4) 122%, var(--bg-4) 130%, var(--bg-2) 131%, var(--bg-2) 140%
        ),
        radial-gradient(
            50% 50% at 50% 50%,
            var(--bg-4) 0%, var(--bg-4) 75%, var(--bg-1) 76%, var(--bg-1) 85%, var(--bg-2) 86%, 
            var(--bg-2) 94%, var(--bg-4) 95%, var(--bg-4) 103%, var(--bg-2) 104%, var(--bg-2) 112%, 
            var(--bg-3) 113%, var(--bg-3) 121%, var(--bg-4) 122%, var(--bg-4) 130%, 
            var(--bg-2) 131%, var(--bg-2) 140%
        );
}

.hidden {
    display: none;
}


.accent {
    color: var(--gold);
}

.title {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title-container {
        text-align: center;
        max-width: 80%;
        
        @include md {
            max-width: 50%;
        }
    }

    h1 {
        color: var(--gold);
        font-size: var(--title);
    }
    span {
        color: var(--white);
        font-size: var(--subtitle);
    }
}

.glassmorphism {
    padding: 20px;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

section {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: 700;
    color: var(--white);
}