:root {
    --black: #0B0B0B;
    --white: #F4F4F4;
    --red: #A61B34;
    --grey: #5A5A5A;
    --dark-grey: #3c3b3b;
    --light-grey: #7a7a7a;
    --gold: #C9A66B;
    --green: #2E4A3F;
    --blue: #264653;

    --bg-1: #5A5A5A;
    --bg-2: #505050;
    --bg-3: #707070;
    --bg-4: #646464;

    --title: 35px;
    --subtitle: 20px;
    --text: 15px;
    --nav: 30px;

    --navbar: 110px;
}

@media (max-width: 700px ) {
    :root {
        --title: 35px;
        --subtitle: 20px;
        --text: 15px;
        --nav: 30px;
    }
}